body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Container {
    display: flex;
    gap: 50px;
}

.card {
    background-color: rgb(245, 230, 200);
    border-radius: 0px;
    box-shadow: 0 4px 8px rgb(167, 167, 162);
    overflow: hidden;
    width: 250px;
    transition: transform 0.5s;
}

.card:hover {
    transform: translateY(-10px) ;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h3 {
    margin: 10px;
    color: rgb (28, 24, 18);
}

.card-content p {
    color: rgb(28, 41, 41);
    font-size: 14px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(219, 212, 195);
    color: rgb(17, 17, 17);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s       
}

.btn:hover { 
    background-color: rgb(44, 125, 247);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:not(:hover) {
    opacity: 0.8;
}